
:root{
    --baby-blue:#89CFF0;
    --cobalt-blue:#0047AB;
    --cornflower-blue:#6495ED;
    --form-bg : #E8EEF3;
    --indigo:#3F00FF;
    --pastel-blue:#A7C7E7;
    --royal-blue: 	#4169E1;
    --sapphire-blue:#0F52BA;
    --star:	 #ff0000;
    --verdigris : 	#40B5AD;
    --white: #ffffff;
}


body{
    /* background-color: var(--baby-blue); */
    background-image: linear-gradient(to right, var(--baby-blue), var(--sapphire-blue));
    font-family: "grappa-variable", sans-serif;
}

h1{
    text-align: center;
}
.form-container{
    background-color: var(--form-bg);
    border-radius: 10px;
    width:600px;
    margin: 0 auto;
    padding:1rem;
}

.form{
    padding: 1rem;
    width:100%;
}
fieldset{
    border: 0.2rem solid  var(--cobalt-blue);
    padding:1.2rem;
    margin:1rem;
}

legend{
    color:var(--cobalt-blue);
    font-size:1.4rem;
    font-weight:bolder;
}

label{
    color:var(--cobalt-blue);
    font-weight:bold;
    margin-bottom:1rem;
}


span{
    color:var(--star);
}
input{
    height:30px;
}
input,select{
    padding:0.2rem;
    border-radius: 5px;
    margin-top:1rem;
    margin-right:0.3rem;
    width:100%;
}

/* Reference : https://codepen.io/kurtnz/pen/PoBYbB */
select{
    font-size:1rem;
    height: 50px;
    line-height: 50px;
    -webkit-appearance: menulist-button;  
    -moz-appearance:none;
}
button{
    background-color: var(--cornflower-blue);
    border:0.2rem solid var(--cobalt-blue);
    border-radius:0.6rem;
    color:var(--white);
    font-family: inherit;
    font-size:1.1rem;
    font-weight: bold;
    padding:0.3rem;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: var(--indigo);
    color: var(--pastel-blue);
}

.display-none{
  display:none;
}

.output{
  margin: 0 auto;
  padding:1rem;
}

h2,h3{
  color:var(--cobalt-blue);
  text-align:center;
}

img{
  width:100%;
}

p{
  color:var(--cobalt-blue);
  margin-bottom:1rem;
}

a {
	background-color: var(--royal-blue);
	border: 0.2rem inset var(--cornflower-blue);
    color: var(--pastel-blue);
    margin:1rem;
	padding: 0.1rem;
	text-decoration: none;
}

a:hover {
	background-color: var(--verdigris);
    color:var(--indigo);
}